<h1>{{ title }}</h1>

<form (ngSubmit)="fetchWeather()">
  <select (change)="onSelectChange($event.target.value)">
    <option *ngFor="let city of cities">
      {{ city.name }}
    </option>
  </select>
  <label>
    Latitude
    <input [(ngModel)]="latitude" name="latitude" />
  </label>
  <label> Longitude <input [(ngModel)]="longitude" name="longitude" /> </label>
  <button type="submit" [disabled]="loading">Fetch today's weather</button>
</form>

<app-weather-card
  *ngIf="!loading && todayWeather?.temp2m"
  [min]="todayWeather.temp2m.min"
  [max]="todayWeather.temp2m.max"
></app-weather-card>
